a{
    background: grey;
    text-decoration: none;
}

#cubierta{
    width: 940px;
    margin: 0px 15px 0px 15px;
    background-color: #A5C9CA;
    padding: 0% 5% 0% 5%;
}

#logo{
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

h1, h2{
    color: #FFF;

}

header{
    background-color: #5f9df7;
    border-color:#1746A2;
}

nav a, nav a:visited{
    background-color:  #5f9df7;
    color: #FFF;

}

nav a.selected, nav a:hover{
color: #FFF
}

body {
background-color: rgb(255, 255, 255) ;
color: rgb(126, 126, 126);
}