a{
    background: grey;
    text-decoration: none;
}
body {
    background-color: rgb(255, 255, 255) ;
    color: rgb(126, 126, 126);
    font-family: 'Open Sans', sans-serif;
    }

#cubierta{
    width: 940px;
    margin: 0px 15px 0px 15px;
    background-color: #A5C9CA;
    padding: 0% 5% 0% 5%;
}

#logo{
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

h1, h2{
    color: #FFF;
    

}

header{
    background-color: #5f9df7;
    border-color:#1746A2;
}

nav{
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

footer{
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
}


nav a, nav a:visited{
    background-color:  #5f9df7;
    color: #FFF;

}

nav a.selected, nav a:hover{
color: #FFF
}



h1{
    font-family: 'Courgette', cursive;
    
    margin: 15px 0px 15px 0px;
    font-size: 1.75em;
    font-weight: normal;
}

h2{
    font-family: 'Courgette', cursive;
    
    margin: -13px 0px 0px 0px;
    font-size: 1em;
    font-weight: normal;
}

ul{
    max-width: 100%;
}

#galeria{
    margin: 0;
    padding: 0;
    list-style: none;
}


#galeria li, p a.li{
    float: left;
	width: 45%;
	margin: 2.5%;
    background-color: #4188f359;
    color: rgb(126, 126, 126)

}